@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap");

p {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  border: 1px solid rgb(0, 0, 0);
}
p.info {
  background-color: rgba(0, 0, 255, 0.5);
  text-decoration: underline;
  padding: 1em;
}
p#tip {
  color: black;
  background-color: rgba(0, 255, 0, 0.5);
}

section#demofonts p {
  color: black;
  background-color: white;
  text-decoration: none;
  border-radius: 5%;
  border-width: 0px;
  border-style: none;

  font-family: "Libre Baskerville", "Courier New", Courier, monospace;
}

section#demofonts h1,
h2,
h3 {
  color: black;
  background-color: white;
  text-decoration: none;
  border-radius: 5%;
  border-style: none;

  font-family: Montserrat, Georgia, "Times New Roman", Times, serif;
}

section#demofonts code {
  color: black;
  background-color: white;
  text-decoration: none;
  border-radius: 5%;
  border: 1px solid;
  border-style: none;

  font-family: "IBM Plex Mono" "Courier New", Courier, monospace;
}
