/* Sticky Footer Grid CSS */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

header {
  background-color: darkred;
  height: 4vw;
  font-family: sans-serif;
}
header p {
  color: snow;
}

footer {
  background-color: blue;
  height: 10vw;
  bottom: 2px;
  position: sticky;
}

footer p {
  color: azure;
  font-family: sans-serif;
}

main {
  font-family: serif;
  height: 30rem;
}
