a /* selector */ {
  /* attribute: value - this pair is called declaration */
  color: red; /* declaration */
  height: 20 rem;
  width: 100%;
  font-size: 18px; /* em / vh /vw / ch / auto */
} /* Block or CSS rule */
